<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.4.0" targetFramework="net472" />
  <package id="FontAwesome.Sharp" version="6.6.0" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.4" targetFramework="net472" />
  <package id="Pdfium.Net.SDK" version="4.98.2704" targetFramework="net472" />
</packages>